body{
    background: lightblue;
    margin: 0px;    /*why is there a default margin of 8px?*/
}

#arena{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%
}

#track{
    position: relative;
    z-index: 100;
}

#hero{
    position: absolute;
    background: maroon;
}

#obst{
    position: absolute;
    background: maroon;
}

#obj-1{
    background: blue;
    width: 100%;
    height: 20px;
    margin-top: 500px;
}
