body{
    margin: 0px;    /*why is there a default margin of 8px?*/
    overflow: hidden;
}

#background div{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%
}

#arena{
    position: relative;
    z-index: 100;
}

#arena div, #arena img, #background div, #background img{
    position: absolute;
}

#hero{ /*might could take this out entirely*/
    position: absolute;
}
